@model ControleEstoque.Models.Categoria
@{
    ViewData["Title"] = "Nova Categoria";
}

<h1>Nova Categoria</h1>
<hr />
<div class="container p-5">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow">
            <h6>Nova Categoria</h6>
            <hr />

            <form asp-action="NovaCategoria">
                <div class="form-group">
                    @*<label>Nome</label>*@
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" type="text" class="form-control form-control-sm" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="container">
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                Salvar
                            </button>
                        </div>
                        <div class="pl-1">
                            <a class="btn btn-sm btn-light" asp-action="Index">Voltar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

